/* global */
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  min-height: 400px;
}
h1, p, a, li, ul, div {
  font-family: "system-ui";
  font-style: normal;
  margin: 0;
  padding: 0;
  color: white;
}
ul, li {
  list-style: none;
}
[contenteditable] {
  outline: 0px solid transparent;
}

/* header */
header {
  background-color: #393836;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  border-bottom: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .control {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 10px 5px;
  opacity: 0.4;
  cursor: pointer;
}
header .control:hover {
  opacity: 1;
}
.control#add {
  background-image: url("images/add.svg");
}
.control#remove {
  background-image: url("images/remove.svg");
}

/* main */
main {
  position: relative;
  width: 100%;
  height: calc(100% - 45px);
  background-color: #272521;
}
main #split-main {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
  grid-template-columns: 300px 1fr;
}
main .notes {
  background-color: #272521;
  padding: 0 10px 10px 10px;
  border-right: 1px solid black;
}
main .note_field {
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  padding-bottom: 60px;
  overflow-y: auto;
}

/* tonic split */
tonic-split-right {
  background-color: #1E1E1E;
}
main tonic-split > tonic-split-left::-webkit-scrollbar {
  display: none;
}
main tonic-split > tonic-split-left {
  overflow-y: auto !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
main tonic-split > tonic-split-right {
  display: flex;
  overflow-y: auto !important;
  border-left: 1px solid black;
}

/* open note */
.note_body_full {
  min-height: 100%;
}
.note_body_full * {
  background-color: transparent !important;
  color: white !important;
}

/* note list */
.note {
  height: 90px;
  margin-top: 10px;
  padding: 5px 25px 10px 15px;
  background: rgba(151, 162, 201, 0.15);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: height 0.6s, padding 0.6s, margin-top 0.9s;
  -o-transition: height 0.6s, padding 0.6s, margin-top 0.9s;
  transition: height 0.6s, padding 0.6s, margin-top 0.9s;
  will-change: height;
}
.note.active {
  background: rgba(151, 162, 201, 0.35);
}
.note_time {
  display: block;
  font-size: 10px;
  opacity: 0.4;
  margin: 10px 0 5px 0;
}
.note p {
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  opacity: 0.6;
}
.note.active p {
  opacity: 1;
}